<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <label class="ui text"> Title </label>
  <div class="ui input field">
    <%= form.text_field(:title) %>
  </div>

  <label class="ui text"> Description </label>
  <div class="ui form field">
    <%= form.text_area(:description) %>
  </div>

  <% if(!task.parent) %>
    <label class="ui text"> Type </label>
    <div class="ui input field">
      <%= form.select(:task_type, (Task.task_types.keys)) %>
    </div>
  <% end %>

  <label class="ui text"> Parent </label>
  <div class="ui input field disabled">
    <%= form.number_field(:parent_id) %>
  </div>

  <div class="actions">
    <%= form.submit({class: "ui primary submit button"}) %>
  </div>
<% end %>
