<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Progress</th>
      <th>Parent</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.progress %></td>
        <td><%= task.parent.try(:title) %></td>
        <td><%= link_to 'Subtask', new_task_path({parent_id: task.id}) %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path, class: "ui primary submit button" %>
